<% include partials/header %>


<div class="container">
<div class="jumbotron">

<h1>A list of Nigerian Dishes Around the country</h1>

<p><a href="/new" class="btn btn-primary btn-lg">Add A new dish</a></p>

</div>
<% dishes.forEach(function(dish){ %>

<div>
<li> <%= dish.name %> </li>

<div class="thumbnail" width="400">
<img class="img" src="<%= dish.image %>">
</div>
</div>

<% }); %>
</div>
<% include partials/footer %>