<% include partials/header %>


<form action="dishes" method="POST">
<input type="text" name="dishName" placeholder="Add your favourite dish">
<input type="file" name="dishImage" placeholder="Uplaod Your dish pic">
<button type="submit">Submit Dish</button>

</form>

<% include partials/footer %>