<% include ../partials/header %>

<div class="container">
<header class="jumbotron">

<h1>Welcome to #eatIT!</h1>
<p>View a large list of hand picked varieties  of dishes served in Nigeria</p>

<p><a href="/dishes/new" class="btn btn-primary btn-lg">Add New Dish</a></p>

</header>
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">

            <% dishes.forEach(function(dish){ %>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img class="img" src="/img/<%= dish.image %>" width="300" style="">
                    <div class="caption">
                    <p> <%= dish.name %> </p>
                    <a href="/dishes/<%= dish._id %>" class="btn btn-primary" >More Info</a>
                    </div>
                </div>
            </div>
            <% }); %>
            
        </div>
    </div>

    <% include ../partials/footer %>